*
{
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    background: #171717;
}

a
{
    font-size: 50px;
    color: white;
    text-decoration: none;
    font-family: monospace;
}
a :hover
{
    color: red;
}

#links
{
    position: absolute;
    top: 50%;
    left: 5%;
}