*
{
    margin:  0;
    padding: 0;
    box-sizing: border-box;
    background: #222222;
}

.link
{
    font-size: 50px;
    margin: 0px 0px 0px 0px;
    display: flex;
    justify-content: center;
}

.link:link, .link:visited
{
    padding:   3px;
    color:white;
    text-decoration: none;
    font-family: 'Bebas Neue';
}

.link:hover, .link:visited:hover
{
    color:#222222;
    background-color: white;
}

.links
{
    margin: 0;
    top:  65%;
    left: 50%;
    position: absolute;
    text-align: center;
    -ms-transform: translate(-50%, -65%);
    transform:     translate(-50%, -65%);
}

.logo-container
{
    top: 15%;
    display: flex;
    justify-content: center;
    -ms-transform: translate(0, 15%);
    transform:     translate(0, 15%);
}






/* .logo
{
    left: 50%;
    width: 600px;
    -ms-transform: translate(-50%, 20%);
    transform:     translate(-50%, 20%); 
    margin: auto;
    justify-content: center;
    position: relative;
    display: inline-block;
}
.logo .image-back
{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.logo:hover .image-back
{
    display: inline;
} */

@media screen and (max-width: 600px)
{

    
    .links
    {
        margin: 0;
        top:  50%;
        left: 50%;
        position: absolute;
        text-align: center;
        -ms-transform: translate(-50%, -50%);
        transform:     translate(-50%, -50%);

    }

    .logo-container
    {
        top: 50%;
        display: flex;
        justify-content: center;
        -ms-transform: translate(0, 50%);
        transform:     translate(0, 50%);
    }


    .logo-container img
    {
        height: 20vh;
    }

    .link
    {
        font-size: 40px;
    }
}