*
{
    margin:  0;
    padding: 0;
    box-sizing: border-box;
    background: #222222;
}

.link
{
    font-size: 50px;
    margin: 0px 0px 0px 0px;
    display: flex;
    justify-content: center;
    animation: drop_up 2s;
}

.link:link, .link:visited
{
    padding:   3px;
    color:white;
    text-decoration: none;
    font-family: 'Bebas Neue';
}

.link:hover, .link:visited:hover
{
    color:#222222;
    background-color: white;
}

.links
{
    margin: 0;
    top:  65%;
    left: 50%;
    position: absolute;
    text-align: center;
    -ms-transform: translate(-50%, -65%);
    transform:     translate(-50%, -65%);
}

.logo-container
{
    top: 15%;
    display: flex;
    position: relative;
    justify-content: center;
    -ms-transform: translate(0, 15%);
    transform:     translate(0, 15%);
    animation: fade_in 3s;
}

a img:last-child
{
    display: none;
}

a:hover img:last-child
{
    display: block;
}

a:hover img:first-child
{
    display: none;
}


@media screen and (max-width: 600px)
{

    
    .links
    {
        margin: 0;
        top:  60%;
        left: 50%;
        -ms-transform: translate(-50%, -60%);
        transform:     translate(-50%, -60%);

    }

    .logo-container
    {
        top: 50%;
        -ms-transform: translate(0, 50%);
        transform:     translate(0, 50%);
    }

    .logo-container img
    {
        height: 22vh;
    }

    .link
    {
        font-size: 30px;
    }
}

@media screen and (max-height: 800px)
{

    
    .links
    {
        margin: 0;
        top:  70%;
        left: 50%;
        -ms-transform: translate(-50%, -70%);
        transform:     translate(-50%, -70%);

    }

    .link
    {
        font-size: 30px;
    }
}

@keyframes drop_up
{
    0%
    {
        opacity: 0;
        -ms-transform: translateY(100px);
        transform: translateY(100px);
    }

    100%
    {
        opacity: 1;
        -ms-transform: translateY(0px);
        transform: translateY(0px);
    }
}

@keyframes fade_in
{
    0%
    {
        opacity: 0;
    }

    70%
    {
        opacity: 0;
    }

    100%
    {
        opacity: 1;
    }
}