*
{
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    box-sizing: border-box;
}

body
{
    font-family: 'Bebas Neue';
    color: white;
    overflow: hidden;
    overflow: hidden;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

canvas
{
    position: absolute;
    background: black;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.footer
{   
    position: relative;
    top: 90vh; 
    width: 100%;
    left: 50%;
    transform: translateX(-60px);
    -ms-transform: translateX(-60px);
}

.button
{
    border: 1.5px solid white;
    background: transparent;
    color: white;
    width: 120px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Bebas Neue';
    font-size: 30px;
    animation: fade_in 2s;
}
.button:hover
{
    background: white;
    color: #222222;
}


.slider
{
    width: 20vh;
    height: 15px;
    opacity: 0.7;
    border-radius: 12px;
    -webkit-appearance: none;
    background: #3b3b3b;
    cursor: pointer;
    outline: none;
    animation: drop_down 1s;
}
.inputsContainer
{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    top: 1vh;
    left: 50%;
    height: 6vh;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}
.inputsContainer p
{
    font-size: 2vh;
    opacity: 0.7;
    animation: drop_down 1s;
}

.checkboxLine
{
    position: relative;
    top: 0.5vh;
    display: flex;
    text-align: left;
    animation: drop_down 1s;
}

.checkboxLine input
{
    opacity: 0.7;
    margin-top: 0.1vh;
    margin-left: 1vh;
    width: 2vh;
    height: 2vh;
}

.radioType
{
    animation: drop_down 1s;
}

.radioType input
{
    width: 2vh;
    height: 2vh;
    opacity: 0.7;
    margin-left: 1vh;
}

.round, .square
{
    display: flex;
    justify-content: space-between;
}

.sliderDistance, .sliderSize, .sliderHue, .sliderOpacity, .checkboxLine, .radioType
{
    padding-left: 50px;
}